.dialogOverlay {
  background-color: hsla(0deg 0% 0% / 0.7);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.dialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow:
      hsl(206 22% 7% / 35%) 0 10px 38px -10px,
      hsl(206 22% 7% / 20%) 0 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 500px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.dialogContent:focus {
  outline: none;
}

.dialogTitle {
  margin: 0;
  margin-block-end: 16px;
  font-size: 1.25rem;
}

.dialogDescription {
  margin-bottom: 24px;
  line-height: 1.5;
}

.closeIconButton {
  border: none;
  border-radius: 100%;
  padding: 4px;
  background-color: transparent;
  height: 32px;
  width: 32px;
  display: inline-grid;
  place-content: center;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
