.form {
  padding-block: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formData {
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 8px;
}

.cancelButton {
  border: none;
  border-radius: 4px;
  padding-block: 8px;
  padding-inline: 12px;
  cursor: pointer;
  background-color: var(--color-secondary);
  color: black;
}

.saveButton {
  border: none;
  border-radius: 4px;
  padding-block: 8px;
  padding-inline: 12px;
  cursor: pointer;
  background-color: var(--color-primary);
  color: white;
}
