.signInButton {
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 8px;
  padding-block: 12px;
  padding-inline: 16px;
  font-size: 1.5rem;
  cursor: pointer;
}
