.table {
  width: 100%;
  padding-inline: 32px;
  font-size: 1.25rem;
  border-collapse: separate;
  border-spacing: 0 16px;
  --border-radius: 12px;
}

.cell {
  background-color: var(--color-secondary);
  padding-block: 12px;
  padding-inline: 16px;
}

.cell:first-child {
  border-start-start-radius: var(--border-radius);
  border-end-start-radius: var(--border-radius);
}

.cell:last-child {
  border-start-end-radius: var(--border-radius);
  border-end-end-radius: var(--border-radius);
}

.headerCell {
  text-align: start;
  position: sticky;
  top: 0;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.actionButton {
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  color: white;
}

.editButton {
  background-color: var(--color-primary);
}

.closeButton {
  background-color: var(--color-danger);
}

.pagination {
  padding-block-start: 16px;
  padding-block-end: 32px;
  padding-inline: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.pageButton {
  border-radius: 4px;
  padding-block: 8px;
  padding-inline: 12px;
  cursor: pointer;
  background-color: var(--color-secondary);
  color: black;
  text-decoration: none;
}

.activePageButton {
  background-color: var(--color-primary);
  color: white;
}
